# Dependencies
node_modules/

# Builds
.svelte-kit/
build/
dist/
.out/
.output/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Data
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.idea/
.vscode/
*.swp